@using Microsoft.AspNetCore.Identity
@using PocMVCApp.Data;
@inject SignInManager<ApplicationUser> SignInManager

@*<div id="UsersCardCarousel" class="carousel slide bg-light shadow-lg" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="cards-wrapper">
                <div class="card">
                    <div class="image-wrapper">
                        <img src="https://cdn.pixabay.com/photo/2016/11/22/21/42/woman-1850703_1280.jpg" alt="...">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">
                            Some quick example text to build on the card title and make up the bulk of the card's
                            content.
                        </p>
                        <a href="#" class="btn btn-primary">Profile</a>
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <button class="btn btn-success">Connect</button>
                        }
                    </div>
                </div>
                <div class="card">
                    <div class="image-wrapper">
                        <img src="https://cdn.pixabay.com/photo/2016/11/21/14/53/man-1845814_1280.jpg" alt="...">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">
                            Some quick example text to build on the card title and make up the bulk of the card's
                            content.
                        </p>
                        <a href="#" class="btn btn-primary">Profile</a>
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <button class="btn btn-success">Connect</button>
                        }
                    </div>
                </div>
                <div class="card">
                    <div class="image-wrapper">
                        <img src="https://cdn.pixabay.com/photo/2020/10/09/04/56/woman-5639513_1280.jpg" alt="...">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">
                            Some quick example text to build on the card title and make up the bulk of the card's
                            content.
                        </p>
                        <a href="#" class="btn btn-primary">Profile</a>
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <button class="btn btn-success">Connect</button>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="cards-wrapper">
                <div class="card">
                    <div class="image-wrapper">
                        <img src="https://cdn.pixabay.com/photo/2018/03/12/12/32/woman-3219507_1280.jpg" alt="...">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">
                            Some quick example text to build on the card title and make up the bulk of the card's
                            content.
                        </p>
                        <a href="#" class="btn btn-primary">Profile</a>
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <button class="btn btn-success">Connect</button>
                        }
                    </div>
                </div>
                <div class="card">
                    <div class="image-wrapper">
                        <img src="https://cdn.pixabay.com/photo/2016/11/21/12/42/beard-1845166_1280.jpg" alt="...">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">
                            Some quick example text to build on the card title and make up the bulk of the card's
                            content.
                        </p>
                        <a href="#" class="btn btn-primary">Profile</a>
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <button class="btn btn-success">Connect</button>
                        }
                    </div>
                </div>
                <div class="card">
                    <div class="image-wrapper">
                        <img src="https://cdn.pixabay.com/photo/2018/02/16/14/38/portrait-3157821_1280.jpg" alt="...">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">
                            Some quick example text to build on the card title and make up the bulk of the card's
                            content.
                        </p>
                        <a href="#" class="btn btn-primary">Profile</a>
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <button class="btn btn-success">Connect</button>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="cards-wrapper">
                <div class="card">
                    <div class="image-wrapper">
                        <img src="https://cdn.pixabay.com/photo/2016/11/29/03/52/man-1867175_1280.jpg" alt="...">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">
                            Some quick example text to build on the card title and make up the bulk of the card's
                            content.
                        </p>
                        <a href="#" class="btn btn-primary">Profile</a>
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <button class="btn btn-success">Connect</button>
                        }
                    </div>
                </div>
                <div class="card">
                    <div class="image-wrapper">
                        <img src="https://cdn.pixabay.com/photo/2018/01/06/09/25/hijab-3064633_1280.jpg" alt="...">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">
                            Some quick example text to build on the card title and make up the bulk of the card's
                            content.
                        </p>
                        <a href="#" class="btn btn-primary">Profile</a>
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <button class="btn btn-success">Connect</button>
                        }
                    </div>
                </div>
                <div class="card">
                    <div class="image-wrapper">
                        <img src="https://cdn.pixabay.com/photo/2019/11/03/05/36/portrait-4597853_1280.jpg" alt="...">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">
                            Some quick example text to build on the card title and make up the bulk of the card's
                            content.
                        </p>
                        <a href="#" class="btn btn-primary">Profile</a>
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <button class="btn btn-success">Connect</button>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="cards-wrapper">
                <div class="card">
                    <div class="image-wrapper">
                        <img src="https://cdn.pixabay.com/photo/2018/01/06/09/25/hijab-3064633_1280.jpg" alt="...">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">
                            Some quick example text to build on the card title and make up the bulk of the card's
                            content.
                        </p>
                        <a href="#" class="btn btn-primary">Profile</a>
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <button class="btn btn-success">Connect</button>
                        }
                    </div>
                </div>
                <div class="card">
                    <div class="image-wrapper">
                        <img src="https://cdn.pixabay.com/photo/2016/11/21/12/42/beard-1845166_1280.jpg" alt="...">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">
                            Some quick example text to build on the card title and make up the bulk of the card's
                            content.
                        </p>
                        <a href="#" class="btn btn-primary">Profile</a>
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <button class="btn btn-success">Connect</button>
                        }
                    </div>
                </div>
                <div class="card">
                    <div class="image-wrapper">
                        <img src="https://cdn.pixabay.com/photo/2020/10/09/04/56/woman-5639513_1280.jpg" alt="...">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">
                            Some quick example text to build on the card title and make up the bulk of the card's
                            content.
                        </p>
                        <a href="#" class="btn btn-primary">Profile</a>
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <button class="btn btn-success">Connect</button>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev bg-black" type="button" data-bs-target="#UsersCardCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next bg-black" type="button" data-bs-target="#UsersCardCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>*@
@*Landing Section*@
<div class="container">
    <div class="row p-2">
        <div class="co-12 text-center">
            <h4 class="display-6">Preview templates</h4>
        </div>
    </div>
</div>
<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner p-0">
        <div class="carousel-item active carousel-img-one">
            <div class="container">
                <div class="carousel-caption text-start">
                    <h1>Example headline.</h1>
                    <p>Some representative placeholder content for the first slide of the carousel.</p>
                    <p><a class="btn btn-lg btn-primary" href="#">Sign up today</a></p>
                </div>
            </div>
        </div>
        <div class="carousel-item carousel-img-two">
            <div class="container">
                <div class="carousel-caption">
                    <h1>Another example headline.</h1>
                    <p>Some representative placeholder content for the second slide of the carousel.</p>
                    <p><a class="btn btn-lg btn-primary" href="#">Learn more</a></p>
                </div>
            </div>
        </div>
        <div class="carousel-item carousel-img-three">
            <div class="container">
                <div class="carousel-caption text-end">
                    <h1>One more for good measure.</h1>
                    <p>Some representative placeholder content for the third slide of this carousel.</p>
                    <p><a class="btn btn-lg btn-primary" href="#">Browse gallery</a></p>
                </div>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>


<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-lg-4">
            <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777" /><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>

            <h2 class="fw-normal">Category</h2>
            <p>Some representative placeholder content for the three columns of text below the carousel. This is the first column.</p>
            <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
        </div>
        <div class="col-lg-4">
            <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777" /><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>

            <h2 class="fw-normal">Category</h2>
            <p>Some representative placeholder content for the three columns of text below the carousel. This is the first column.</p>
            <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
        </div>
        <div class="col-lg-4">
            <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777" /><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>

            <h2 class="fw-normal">Category</h2>
            <p>Some representative placeholder content for the three columns of text below the carousel. This is the first column.</p>
            <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
        </div>
    </div>
</div>

<hr class="featurette-divider">
