@using Microsoft.AspNetCore.Identity
@using MvcAppPOC.Data;
@inject SignInManager<ApplicationUser> SignInManager

<div id="UsersCardCarousel" class="carousel slide bg-light shadow-lg" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="cards-wrapper">
                <div class="card">
                    <div class="image-wrapper">
                        <img src="https://cdn.pixabay.com/photo/2016/11/22/21/42/woman-1850703_1280.jpg" alt="...">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">
                            Some quick example text to build on the card title and make up the bulk of the card's
                            content.
                        </p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <button class="btn btn-success">Connect</button>
                        }
                    </div>
                </div>
                <div class="card">
                    <div class="image-wrapper">
                        <img src="https://cdn.pixabay.com/photo/2016/11/21/14/53/man-1845814_1280.jpg" alt="...">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">
                            Some quick example text to build on the card title and make up the bulk of the card's
                            content.
                        </p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <button class="btn btn-success">Connect</button>
                        }
                    </div>
                </div>
                <div class="card">
                    <div class="image-wrapper">
                        <img src="https://cdn.pixabay.com/photo/2020/10/09/04/56/woman-5639513_1280.jpg" alt="...">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">
                            Some quick example text to build on the card title and make up the bulk of the card's
                            content.
                        </p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <button class="btn btn-success">Connect</button>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="cards-wrapper">
                <div class="card">
                    <div class="image-wrapper">
                        <img src="https://cdn.pixabay.com/photo/2018/03/12/12/32/woman-3219507_1280.jpg" alt="...">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">
                            Some quick example text to build on the card title and make up the bulk of the card's
                            content.
                        </p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <button class="btn btn-success">Connect</button>
                        }
                    </div>
                </div>
                <div class="card">
                    <div class="image-wrapper">
                        <img src="https://cdn.pixabay.com/photo/2016/11/21/12/42/beard-1845166_1280.jpg" alt="...">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">
                            Some quick example text to build on the card title and make up the bulk of the card's
                            content.
                        </p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <button class="btn btn-success">Connect</button>
                        }
                    </div>
                </div>
                <div class="card">
                    <div class="image-wrapper">
                        <img src="https://cdn.pixabay.com/photo/2018/02/16/14/38/portrait-3157821_1280.jpg" alt="...">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">
                            Some quick example text to build on the card title and make up the bulk of the card's
                            content.
                        </p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <button class="btn btn-success">Connect</button>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="cards-wrapper">
                <div class="card">
                    <div class="image-wrapper">
                        <img src="https://cdn.pixabay.com/photo/2016/11/29/03/52/man-1867175_1280.jpg" alt="...">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">
                            Some quick example text to build on the card title and make up the bulk of the card's
                            content.
                        </p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <button class="btn btn-success">Connect</button>
                        }
                    </div>
                </div>
                <div class="card">
                    <div class="image-wrapper">
                        <img src="https://cdn.pixabay.com/photo/2018/01/06/09/25/hijab-3064633_1280.jpg" alt="...">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">
                            Some quick example text to build on the card title and make up the bulk of the card's
                            content.
                        </p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <button class="btn btn-success">Connect</button>
                        }
                    </div>
                </div>
                <div class="card">
                    <div class="image-wrapper">
                        <img src="https://cdn.pixabay.com/photo/2019/11/03/05/36/portrait-4597853_1280.jpg" alt="...">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">
                            Some quick example text to build on the card title and make up the bulk of the card's
                            content.
                        </p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <button class="btn btn-success">Connect</button>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="cards-wrapper">
                <div class="card">
                    <div class="image-wrapper">
                        <img src="https://cdn.pixabay.com/photo/2018/01/06/09/25/hijab-3064633_1280.jpg" alt="...">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">
                            Some quick example text to build on the card title and make up the bulk of the card's
                            content.
                        </p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <button class="btn btn-success">Connect</button>
                        }
                    </div>
                </div>
                <div class="card">
                    <div class="image-wrapper">
                        <img src="https://cdn.pixabay.com/photo/2016/11/21/12/42/beard-1845166_1280.jpg" alt="...">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">
                            Some quick example text to build on the card title and make up the bulk of the card's
                            content.
                        </p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <button class="btn btn-success">Connect</button>
                        }
                    </div>
                </div>
                <div class="card">
                    <div class="image-wrapper">
                        <img src="https://cdn.pixabay.com/photo/2020/10/09/04/56/woman-5639513_1280.jpg" alt="...">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">
                            Some quick example text to build on the card title and make up the bulk of the card's
                            content.
                        </p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <button class="btn btn-success">Connect</button>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev bg-black" type="button" data-bs-target="#UsersCardCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next bg-black" type="button" data-bs-target="#UsersCardCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
