@using Microsoft.AspNetCore.Identity
@using PocMVCApp.Data;
@using PocMVCApp.Entities;
@using PocMVCApp.Areas.Identity.Pages.Account.Manage
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Home Page";
}

@if (SignInManager.IsSignedIn(User))
{
    <div class="container mt-5 mb-5">
        <div class="row">
            <div class="col-12 bg-secondary bg-opacity-50 shadow-lg p-2 rounded-2">
                <p class="lead fw-bold">"Now that you've signed up, it's your chance to begin connecting with others."</p>
                @if (ViewBag.IsTwoFactorEnabled == false)
                {
                    <div class="col-md-6">
                        <div class="alert alert-warning alert-dismissible fade show shadow-lg" role="alert">
                            <p class="text-dark">Do not wait, and secure your account now.</p>
                            <a class="text-primary text-decoration-none" href="Identity/Account/Manage/EnableAuthenticator">Enable Two-factor authentication</a>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true"></span>
                            </button>
                        </div>
                     </div>
                }
            </div>
        </div>
    </div>   
}
else
{
    <div class="row mt-5 mb-5">
        <div class="col-12">
            <h1 class="display-4">Welcome</h1>
            <p class="lead">"Discover love and relationship coaching with us. <span class="fw-bold">Sign up now</span> and let's get started!".</p>
        </div>
        <div class="col-12">
            <p class="lead">"For a richer experience and the opportunity to connect...</p>
            <a class="nav-link btn btn-primary fw-bold text-light" asp-area="Identity" asp-page="/Account/Register">Sign up now</a>
        </div>
    </div>
}
@*This renders a partial view named _UsersCard*@
<div>
    <partial name="_UsersCard" />
</div>









