@using Microsoft.AspNetCore.Identity
@using MvcAppPOC.Data;
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Home Page";
}

@if (SignInManager.IsSignedIn(User))
{
    <div class="container mt-5">
        <div class="row">
            <h4 class="display-5">Discover the power of Identity Framework</h4>
            <section class="bg-secondary bg-opacity-50 shadow-lg py-5 rounded-2">
                <div class="container">
                    <p class="lead text-white fw-bold">Enjoy all the premium features and content.</p>
                    @*<p class="lead text-white">Try our newest chat integration down in the right corner</p>*@
                    @*<p class="lead text-white">Try our newest chat integration down in the right corner</p>*@
                </div>
            </section>
        </div>
    </div>

    @*<!-- Button trigger modal -->
    <button type="button" class="btn btn-success position-absolute bottom-0 end-0 m-3" data-bs-toggle="modal" data-bs-target="#chatModal">
        Chat
    </button>
    <!--Chat  Modal -->
    <div class="modal fade position-absolute bottom-0 end-0" id="chatModal" tabindex="-1" aria-labelledby="chatModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-fullscreen">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="chatModalLabel">Chat</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <p class="list-group m-0 p-0" id="messagesList" style="max-height: 500px; overflow-y: scroll;">
                    </p>
                </div>
                <div class="modal-footer">
                    @if (User.Identity != null && User.Identity.Name != null)
                    {
                        <input type="text" class="border-0 bg-transparent p-0 m-1" style="display:none" id="userInput" value="@User.Identity.Name" />
                    }
                    else
                    {
                        <input type="text" class="border-0 bg-transparent p-0 m-1" style="display:none" id="userInput" value="UserName" />
                    }
                    <input type="text" class="form-control" id="messageInput" placeholder="message" />
                    <button type="button" class="btn btn-success mt-1 w-100" id="sendButton">Send</button>
                </div>
            </div>
        </div>
    </div>*@
}
else
{
    <section class="bg-light py-5 mt-5">
        <div class="container">
            <h1 class="display-6">Welcome to Our Website</h1>
            <p class="lead">Unlock the full potential of our platform by logging in to access exclusive features and content.</p>
        </div>
    </section>
}
@*This renders a partial view named _UsersCard*@
<div>
    <partial name="_UsersCard" />
</div>
@if (!SignInManager.IsSignedIn(User))
{
    <div class="row d-flex justify-content-center mt-5">
        <div class="col-sm-6">
            <p class="lead">"For a richer experience and the opportunity to connect...</p>
            <a class="nav-link btn btn-primary fw-bold text-light" asp-area="Identity" asp-page="/Account/Register">Register now</a>
        </div>
    </div>
}



