@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@model PocMVCApp.Models.User

@{
    ViewData["Title"] = "Home Page";
}

@if (SignInManager.IsSignedIn(User))
{
    <div class="container mt-5">
        <div class="row">
            <h4 class="display-6">Discover the power of Identity Framework</h4>
            <section class="bg-secondary bg-opacity-50 shadow-lg py-5 rounded-2">
                <div class="container text-center">
                    <p class="lead text-white">You are now logged in and can enjoy all the premium features and content.</p>
                    <a class="btn btn-light" asp-controller="Users" asp-action="Index">Users</a>
                    <a class="btn btn-primary text-white" asp-area="" asp-controller="Users" asp-action="Create">Create</a>
                    <p class="lead text-white">Try our newest chat integration down in the right corner</p>
                </div>
            </section>
        </div>
    </div>

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-success position-absolute bottom-0 end-0 m-3" data-bs-toggle="modal" data-bs-target="#chatModal">
        Chat
    </button>
    <!--Chat  Modal -->
    <div class="modal fade" id="chatModal" tabindex="-1" aria-labelledby="chatModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="chatModalLabel">Chat</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p class="list-group m-0 p-0" id="messagesList" style="max-height: 200px; overflow-y: scroll;">
                    </p>
                    @if (User.Identity != null && User.Identity.Name != null)
                    {
                        <input type="text" class="border-0 bg-transparent p-0 m-1" style="display:none" id="userInput" value="@User.Identity.Name" />
                    }
                    else
                    {
                        <input type="text" class="border-0 bg-transparent p-0 m-1" style="display:none" id="userInput" value="UserName" />
                    }
                    <input type="text" class="form-control" id="messageInput" placeholder="message" />
                    <div class="col-12 text-end">
                        <button type="button" class="btn btn-success m-1" id="sendButton">Send</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <section class="bg-light py-5 mt-5">
        <div class="container">
            <h1 class="display-6">Welcome to Our Website</h1>
            <p class="lead">Unlock the full potential of our platform by logging in to access exclusive features and content.</p>
        </div>
    </section>
}




