@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@model PocMVCApp.Models.User

@{
    ViewData["Title"] = "Home Page";
}

@if (SignInManager.IsSignedIn(User))
{
    <div class="container mt-5">
        <div class="row">
            <h4 class="display-6">Discover the power of Identity Framework</h4>
            <section class="bg-success py-5 rounded-2">
                <div class="container text-center">
                    <p class="lead text-white">You are now logged in and can enjoy all the premium features and content.</p>
                    <a class="btn btn-light" asp-controller="Users" asp-action="Index">Users</a>
                    <a class="btn btn-primary text-white" asp-area="" asp-controller="Users" asp-action="Create">Create</a>
                </div>
            </section>
        </div>
    </div>
    <section class="mt-5">
        <form class="form-control border-2 bg-light shadow-sm p-5">
            <div class="row d-flex justify-content-center ">
                <div class="col-12">
                    @*<input type="text" class="btn fw-bold" id="userInput" placeholder="@User.Identity.Name" value="@User.Identity.Name" />
                *@
                    @if (User.Identity != null && User.Identity.Name != null)
                    {
                        <input type="text" class="border-0 bg-transparent p-0" id="userInput" placeholder="@User.Identity.Name.Replace("@", "#");" value="@User.Identity.Name" />
                    }
                    <input type="text" class="form-control" id="messageInput" placeholder="message" />
                    <button type="button" class="btn btn-success mt-1" id="sendButton">Send Message</button>
                </div>
            </div>
        </form>
        <div class="row d-flex justify-content-center">
            <div class="col-6 bg-light shadow-sm p-5">
                <ul class="list-group" id="messagesList"></ul>
            </div>
        </div>
    </section>
}
else
{
    <section class="bg-light py-5 mt-5">
        <div class="container">
            <h1 class="display-6">Welcome to Our Website</h1>
            <p class="lead">Unlock the full potential of our platform by logging in to access exclusive features and content.</p>
        </div>
    </section>
}


