@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

@{
    if (@Model.DisplayConfirmAccountLink)
    {
//<p>
//    This app does not currently have a real email sender registered, see <a href="https://aka.ms/aspaccountconf">these docs</a> for how to configure a real email sender.
//    Normally this would be emailed: <a id="confirm-link" href="@Model.EmailConfirmationUrl">Click here to confirm your account</a>
//</p>
    }
    else
    {
        <div class="row justify-content-center mt-5 p-3 bg-light shadow-lg">
            <div class="col-xs-12">
                <h3>Thank You for Registering with Us!</h3>
                <p class="lead">Please, <strong class="fw-bold">check</strong> your email to confirm your account, and get ready to embark on a new beginning filled with endless possibilities.</p>
            </div>
        </div>
    }
}

